@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

header {
    --tw-shadow: 0px 2px 5px rgba(0, 0, 0, 0.03137);
    box-shadow: 0 0 transparent, 0 0 transparent, var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
        var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.heading-inner {
    @apply text-xl;
}

h3 {
    @apply text-xl;
}

h2 {
    @apply text-2xl;
}

#content-container h2,
#content-container h3,
#content-container p {
    @apply mb-4;
}

.no-scroll {
    overflow: hidden;
}

.none {
    @apply hidden;
}

.search-screen {
    position: absolute;
    overflow-y: scroll;
    height: calc(100vh - 70px);
    background-color: #fff;
    width: 100%;
    z-index: 9;
}
.menu-screen {
    position: absolute;
    overflow-y: scroll;
    height: calc(100vh - 113px);
    background-color: #fff;
    width: 100%;
    z-index: 9;
}

.hero {
    @apply pt-8;
    @apply pb-4;
}

.large-button {
    padding: 20px 20px 30px 20px;
}

.large-button:hover {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15), 3px 5px 7px 0 rgba(0, 0, 0, 0.07);
}

.identity-button {
    color: white !important;
}

.current-page {
    color: #002878;
    font-weight: bold;
    position: relative;
}
.current-page::before {
    content: ' ';
    background-color: #002878;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 8px;
    left: -11px;
}

.search-result .read-more::after {
    content: ' ';
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    background-image: url("data:image/svg+xml,%3Csvg width='0.6em' height='0.6em' viewBox='0 0 16 16' class='bi bi-chevron-double-right' fill='%23d95900' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3Cpath fill-rule='evenodd' d='M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    vertical-align: 1%;
    margin-left: 8px;
}

.inner-toc {
    z-index: 1;
}
.inner-toc ul {
    list-style: none !important;
}
.inner-toc > div > ul > li {
    font-weight: bold;
    color: #002878;
}
.automenu {
    padding-left: 1rem;
}

.automenu li {
    font-size: 1rem;
    color: #333;
    font-weight: 400;
}

.automenu ul {
    padding-left: 10px;
}

.automenu ul li a.is-current {
    color: #000;
}

#content-container a {
    color: #002878;
    text-decoration: underline;
}

/* Logo Adjustments */

.scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    align-items: center;
    height: 40px;
    justify-content: center;
    z-index: 9;
    cursor: pointer;
}
.scrollTop svg {
    fill: #000;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
}

.scrollTop svg:hover {
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

.bounce {
    animation: bounce 2s infinite, fadeIn ease-in 1s;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-3px);
    }
    60% {
        transform: translateY(-1px);
    }
}

table {
    @apply text-left w-full border-collapse my-8;
}
th {
    @apply py-4 px-6 font-bold text-left text-lg border-b border-gray-100;
    background-color: #002878;
    color: #fff;
}
td {
    @apply py-4 px-6 border-b border-gray-100;
}
thead {
    @apply bg-gray-100;
}

@media (min-width: 640px) {
    .dropdown::after {
        content: '';
        background: none;
        display: none;
    }

    .dropdown:hover .dropdown-menu {
        min-width: 200px;
        display: block;
    }

    .sub-dropdown:hover .sub-dropdown-menu {
        min-width: 200px;
        display: block;
    }

    .colby-identity-secondary-nav-links-container {
        cursor: pointer;
        position: relative;
        justify-content: flex-start;
    }
    .colby-identity-secondary-nav-links-container > div > a {
        font-size: 1.1rem;
        display: block;
        height: 100%;
        padding: 0.5rem;
    }

    .hero {
        background-image: url('/images/ColbyBacc2017-014.jpg');
        background-size: cover;
        height: calc(100vh - 111px);
        background-position: 50% 40%;
    }
}

@media (min-width: 768px) {
    .colby-identity-secondary-nav-links-container > div > a {
        font-size: 1.25rem;
        display: block;
        height: 100%;
        padding: 0.5rem;
    }

    .sub-dropdown-menu ul {
        padding-left: 0;
    }
}
@media (min-width: 1024px) {
    .automenu ul li a.is-current {
        color: #e15630;
    }
}
